.container {
    overflow: hidden;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;

    & .bannerContent {
        display: flex;
        white-space: nowrap;
        align-items: center;

        & .banner {
            display: flex;
            align-items: center;
            margin-right: 50px;

            & p {
                font-size: 50px;
                font-weight: 600;
                margin-left: 10px;
                color: var(--black);
            }
        }
    }
}

/* Tablet (Between 768px and 991px) */
@media (max-width: 991px) and (min-width: 768px) {
    .container {
        & .bannerContent {
            & .banner {
                margin-right: 10px;
                & p {
                    font-size: 30px;
                }
            }
        }
    }
}

/* Mobile (767px and below) */
@media (max-width: 767px) {
    .container {
        & .bannerContent {
            & .banner {
                margin-right: 10px;
                & p {
                    font-size: 30px;
                }
            }
        }
    }
}
