/* BUTTON */
.menuButton {
    z-index: 900;
    position: fixed;
    top: 30px;
    right: 30px;
    color: #fff;
    border: none;
    cursor: pointer;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    transition: 0.3s;
    mix-blend-mode: difference;
}

& .menuButton:hover {
    width: 30px;
    border-radius: 5px;
}

/* MENU */
.menuContainer {
    position: relative;
}

.menuContainer nav {
    z-index: 100;
    position: fixed;
    top: 0;
    right: -100%; /* Start off-screen */
    width: 100%;
    height: 100vh;
    background-color: var(--black);
    padding: 30px;
    transition: right 0.3s ease-in-out; /* Smooth transition */
}

.menuContainer nav.open {
    right: 0; /* Slide in from the right when open */
}

.menuContainer nav ul {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    padding: 0;
    margin: 0;

    list-style: none; /* Remove default list styling */
}

.menuContainer nav li {
    margin: 15px 0; /* Add spacing between links */
}

.menuContainer nav a {
    font-size: 150px;
    text-transform: uppercase;
    color: var(--WHITE, #f8f9fa);
    opacity: 0.25;
    font-weight: 900;
    transition: opacity 0.3s, padding-right 0.3s;
}

.menuContainer nav a span {
    font-size: 16px;
    color: var(--accent);
}

.menuContainer nav a:hover {
    opacity: 1;
    padding-right: 30px;
}

.menuContainer .dashboard {
    width: 30px;
    height: 30px;
    position: absolute;
    left: 30px;
    bottom: 30px;
}

.menuContainer .dashboard img {
    object-fit: contain;
    opacity: 0.25;
    transition: opacity 0.3s, filter 0.3s;
}

.menuContainer .dashboard img:hover {
    opacity: 1;
    filter: hue-rotate(125deg);
}

/* Desktop (1200px and up) */
@media (min-width: 1200px) {
    .menuContainer nav ul a {
        font-size: 150px;
    }
}

/* Laptop (Between 992px and 1199px) */
@media (max-width: 1199px) and (min-width: 992px) {
    .menuButton {
        display: block;
    }

    .menuContainer nav ul a {
        font-size: 120px;
    }
}

/* Tablet (Between 768px and 991px) */
@media (max-width: 991px) and (min-width: 768px) {
    .menuContainer nav ul a {
        font-size: 100px;
    }

    .menuContainer nav {
        padding: 20px;
    }

    .menuContainer .dashboard {
        width: 25px;
        height: 25px;
        left: 20px;
        bottom: 20px;
    }
}

/* Mobile (767px and below) */
@media (max-width: 767px) {
    .menuContainer nav ul a {
        font-size: 80px;
    }

    .menuContainer nav {
        padding: 15px;
    }

    .menuContainer .dashboard {
        width: 20px;
        height: 20px;
        left: 15px;
        bottom: 15px;
    }
}
@media (max-width: 500px) {
    .menuContainer nav ul a {
        font-size: 60px;
    }
}
@media (max-width: 350px) {
    .menuContainer nav ul a {
        font-size: 40px;
    }
}
