.card {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 5px;

    & .parallax {
        aspect-ratio: 2/1;
        height: 100%;
        overflow: hidden;
    }

    & figure {
        flex: 1;
        aspect-ratio: 16/9;
        min-height: 150px;
        overflow: hidden;
        position: relative;

        & img {
            object-fit: cover;
            transition: transform 0.3s ease;
        }

        & img:hover {
            transform: scale(1.1);
        }
    }

    & .text {
        display: flex;
        width: 100%;
        align-items: center;
        justify-content: space-between;

        & p {
            text-transform: uppercase;
            font-weight: 600;
        }

        & p.date {
            font-weight: 300;
        }
    }
}

/* Desktop (1200px and up) */
@media (min-width: 1200px) {
    .card {
        flex-direction: column;
    }
}

/* Laptop (Between 992px and 1199px) */
@media (max-width: 1199px) and (min-width: 992px) {
    .card {
        flex-direction: column;
    }
}

/* Tablet (Between 768px and 991px) */
@media (max-width: 991px) and (min-width: 768px) {
    .card {
        flex-direction: column;
    }

    .card figure {
        min-height: 300px;
    }
}

/* Mobile (767px and below) */
@media (max-width: 767px) {
    .card {
        flex-direction: column;
    }

    .card .parallax {
        aspect-ratio: 2/1;
    }
    .card figure {
        aspect-ratio: 2/1;
    }
}
