.main {
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 0 30px;
    align-items: center;
    min-height: 100vh;

    & .homepage {
        width: 100%;
        min-height: 100vh;
        display: flex;

        & .title {
            width: fit-content;
            display: flex;
            flex-direction: column;
            align-items: flex-end;

            & h1 {
                text-transform: uppercase;
                font-size: 150px;
            }

            & h2 {
                text-align: end;
                font-weight: 400;
                font-size: 18px;
                text-transform: uppercase;

                & span {
                    color: var(--accent);
                }
            }
        }

        & .scene {
            flex: 2;
        }
    }
}
